<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dlsu.thesis.getbetter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".modules.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.PatientListActivity"
            android:label="@string/title_patient_list"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".modules.PatientDetailActivity"
            android:label="@string/title_patient_detail"
            android:parentActivityName=".modules.PatientListActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.PatientListActivity" />
        </activity>
        <activity
            android:name=".modules.NewPatientActivity"
            android:label="@string/title_activity_new_patient"
            android:parentActivityName=".modules.PatientListActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.PatientListActivity" />
        </activity>
        <activity
            android:name=".modules.CaseListActivity"
            android:label="@string/title_case_list"
            android:parentActivityName=".modules.PatientListActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.PatientListActivity" />
        </activity>
        <activity
            android:name=".modules.CaseDetailActivity"
            android:label="@string/title_case_detail"
            android:parentActivityName=".modules.CaseListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.CaseListActivity" />
        </activity>
        <activity
            android:name=".modules.ChiefComplaintActivity"
            android:label="@string/title_activity_chief_complaint"
            android:parentActivityName=".modules.PatientListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.PatientListActivity" />
        </activity>
        <activity
            android:name=".modules.ExpertSystemActivity"
            android:label="@string/title_activity_expert_system"
            android:parentActivityName=".modules.PatientListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".modules.PatientListActivity" />
        </activity>
        <activity
            android:name=".modules.ExpertSystemSummaryActivity"
            android:label="@string/title_activity_expert_system_summary"/>
        <activity
            android:name=".modules.AdminActivity"
            android:label="@string/title_activity_admin"
            android:windowSoftInputMode="adjustPan"/>
    </application>

</manifest>
